@charset "utf=8";

/*paleta de cores

para o efeito gradiente

#43453A verde
#333132 cinza escuro
#848484 cinza claro

para as demais coisas

#727273 cinza claro
#3A592C verde
#63965B verde claro
#18191B quase preto mais claro
#0D0D0D quase preto

*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body,html{
    background-color: #333132;
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #18191B ;
}

section#login > div#imagem{
    display: block;
    background: #63965B url(../imagens/panda.jpg);
    background-size:cover;
    background-position: center center;
    height: 200px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;

}
